@import '../../../assets/variables.scss';

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $color-dark-grey;
  width: 70%;
  align-self: center;

  .auth_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: $border-r10;
    width: 100%;
    max-width: 450px;

    .auth_form_input {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        color: $color-white;
        font-size: 0.9rem;
        font-weight: bold;
      }

      input {
        padding: $spacing-lg $spacing-lg;
        border-radius: $border-r7;
        border: none;
        background-color: $color-dark-grey-2;
        color: $color-white;
        width: 100%;
        box-sizing: border-box;
        font-size: 1rem;

        &:focus {
          outline: none;
        }
      }
    }

    button {
      padding: $spacing-lg $spacing-lg;
      border-radius: $border-r7;
      border: none;
      background-color: $color-ocean-blue;
      color: $color-white;
      width: 100%;
      box-sizing: border-box;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .auth_third_party {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-width: 450px;

    .link {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      padding: $spacing-md $spacing-lg;
      border-radius: $border-r7;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      height: 50px;
      width: 100%;

      img {
        height: 2rem;
      }

      span {
        font-size: 1rem;
        font-weight: bold;
        height: fit-content;
        text-align: center;
        margin-left: -32px;
      }

      &.google {
        background-color: $color-white;
        color: $color-black;
      }

      &.facebook {
        background-color: #4a76a8;
        color: $color-white;
      }

      &.vk {
        background-color: #1877f2;
        color: $color-white;
      }
    }
  }
}
