// COLORS
$color-black: #000000;
$color-dark: #040404;
$color-white: #ffffff;
$color-grey: #ebebeb;
$color-grey-2: #a1a1a1;
$color-dark-grey: #1a1a1a;
$color-dark-grey-2: #303030;
$color-sky-blue: #3498db;
$color-ocean-blue: #3a7ca5;
$color-deep-cerulian: #0066cc;
$color-error-red: #f88;
$color-green: #4caf50;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 1100px;
$max-width: 1100px;

// STYLING
$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$border-r7: 7px;
$border-r10: 10px;
